@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");
h1,
h2,
h3,
p {
  font-family: "Raleway", sans-serif;
}

.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* backgroud animation */

body {
  background-image: url(./assests/images/websiteBackgroundBymiguel-á-padriñán.jpg);
  background-size: cover;
  -webkit-animation: slidein 90s;
  animation: slidein 90s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.nav {
  border-bottom: 0.1rem solid black;
}
.image {
  height: 15rem;
  border-radius: 50%;
}

.title {
  font-family: Nixie One;
  font-weight: 800;
}

/* === BASE HEADING === */

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.9em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.nine h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
@media (max-width: 830px) {
  .nine h1 {
    font-size: 2rem;
  }
}
.nine h1 span,
section div h2 {
  margin-top: 5px;
  font-size: 1rem;
  color: #444;
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.nine h1 span:after,
.nine h1 span:before,
section div h2:after,
section div h2:before {
  content: " ";
  display: block;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  height: 5px;
  background-color: #f8f8f800;
}

section div h2 {
  font-size: 2rem;
  font-weight: 600;
}

button {
  /* width: 200px; */
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #b9e5e8;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
}

button:hover {
  background: #7ab2d3;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

/* .blurr {
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
} */
