<!-- Skill: Artificial Intelligence -->
<div class="col d-flex">
    <div></div>
    <div style="padding-left: 1rem">
      <h3 class="fw-bold text-body-emphasis">
        Artificial Intelligence
      </h3>
      <p>
        Skilled in designing and developing AI systems from scratch to
        solve complex, real-world problems. Experienced in utilizing a
        range of techniques, including search algorithms, optimization
        methods, and advanced data structures, for efficient
        problem-solving in various AI applications.
      </p>
    </div>
  </div>