<!-- Skill: Data Science -->
<div class="col d-flex">
    <div style="padding-left: 1rem">
      <h3 class="fw-bold text-body-emphasis">Data Science</h3>
      <p>
        Skilled in data visualization using <strong>Matplotlib</strong> and <strong>Seaborn</strong> for 2D/3D insights. 
        Experienced with <strong>CSV</strong> and <strong>image datasets</strong>, leveraging <strong>Pandas</strong> 
        for data handling and <strong>OpenCV</strong> for image analysis.
      </p>
    </div>
  </div>
