<!-- Skill: Machine Learning -->
<div class="col d-flex">
    <div style="padding-left: 1rem">
      <h3 class="fw-bold text-body-emphasis">Machine Learning</h3>
      <p>
        Experienced in implementing machine learning algorithms and
        working with various libraries such as
        <strong>Scikit-learn</strong> for model training and
        evaluation, <strong>TensorFlow</strong> and
        <strong>PyTorch</strong> for deep learning, and
        <strong>Keras</strong> for quick prototyping.
      </p>
    </div>
  </div>