<section class="Navbar">
  <nav class="navbar navbar-expand-lg navbar-light p-3 nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html">My Portfolio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              class="nav-link mx-2 active"
              aria-current="page"
              href="./index.html"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href=".\skills.html">Skills</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link mx-2" href=".\projects.html">Projects</a>
          </li> -->
          <li class="nav-item dropdown">
            <a
              class="nav-link mx-2 dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Contact me
            </a>
            <ul
              class="dropdown-menu blurr"
              aria-labelledby="navbarDropdownMenuLink"
              style="background-color: #ffffff00; margin: 20px"
            >
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.linkedin.com/in/rutuj-dhongade/"
                  >LinkedIn</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://leetcode.com/root2j/"
                  >LeetCode</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.instagram.com/rutuj_dhongade/"
                  >Instagram</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/root2j"
                  >Github</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto d-none d-lg-inline-flex" id="icons"></ul>
      </div>
    </div>
  </nav>
</section>
